.titlebar:not(headerbar) .title, headerbar .title { font-weight: normal; }


.titlebar:not(headerbar),
headerbar {
  min-height:0px;
  background-image:none;
}
 
decoration:not(.solid-csd) {
  border-radius: 3px 3px 0 0;
 }

.background:not(.tiled):not(.maximized):not(.solid-csd) .titlebar:backdrop, .background:not(.tiled):not(.maximized):not(.solid-csd) .titlebar:not(.solid-csd) {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px; }

window:not(.tiled):not(.maximized):not(.solid-csd) separator:first-child + headerbar:backdrop, window:not(.tiled):not(.maximized):not(.solid-csd) separator:first-child + headerbar, window:not(.tiled):not(.maximized):not(.solid-csd) headerbar:first-child:backdrop, window:not(.tiled):not(.maximized):not(.solid-csd) headerbar:first-child {
  border-top-left-radius: 3px; }
window:not(.tiled):not(.maximized):not(.solid-csd) headerbar:last-child:backdrop, window:not(.tiled):not(.maximized):not(.solid-csd) headerbar:last-child {
  border-top-right-radius: 3px; }
window:not(.tiled):not(.maximized):not(.solid-csd) stack headerbar:first-child:backdrop, window:not(.tiled):not(.maximized):not(.solid-csd) stack headerbar:first-child, window:not(.tiled):not(.maximized):not(.solid-csd) stack headerbar:last-child:backdrop, window:not(.tiled):not(.maximized):not(.solid-csd) stack headerbar:last-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px; }

window.ssd headerbar.titlebar {
    padding-top: 1px;
    padding-bottom: 1px;
    min-height: 0;
    border-bottom: 0;
}

window.ssd headerbar.titlebar button.titlebutton {
    padding-top: 3px;
    padding-bottom:3px;
    min-height: 0;
}

headerbar button{
min-height:20px
}


.undershoot.top, .undershoot.right, .undershoot.bottom, .undershoot.left { 
background-image: none; 
opacity:0
}

.sidebar {
  border-style: none;
}
/*
decoration, window.ssd headerbar.titlebar {
  border-radius: 0px 0px 0 0;
}
*/
 .solid-csd decoration {
    padding: 2px;
}

.solid-csd decoration{
  border-radius: 0;
}

.solid-csd paned>headerbar
{
border-bottom: 0;
border-top-right-radius: 0;
border-top-left-radius: 0;
}


/* Path bar */

.path-bar button {
  background: none;
  border: 0px solid transparent;
  box-shadow: none;
  padding: 0;
}

.path-bar button:not(:first-child) {
  border-left: 5px solid transparent;
}

.path-bar button:not(:last-child) {
  border-right: 4px solid transparent;
}

.path-bar button:not(:first-child) {
  background-image: image(mix(@theme_bg_color, @borders, 1.0));
  background-size: 1px 12px;
  background-repeat: no-repeat;
  background-position: -5px 50%
}
/*

.path-bar button:nth-child(2) {

  background-size: 0;

}
*/
.path-bar button:not(:first-child):backdrop {
  background-image: image(mix(@theme_bg_color, @borders, 0.5));
}

.path-bar button:checked,
.path-bar button:active {
  box-shadow: inset 0 -2px 0 @theme_selected_bg_color;
}

.path-bar button:not(:checked):hover,
.path-bar button:checked:backdrop {
  box-shadow: inset 0 -2px 0 mix(@theme_bg_color, @borders, 0.5);
}

.path-bar button.slider-button {
padding-left: 0px;
padding-right: 0px;
min-width: 0;
margin-left: 0px
}

.path-bar button.slider-button:disabled {
  color: mix(@theme_bg_color, @theme_fg_color, 0.2);
opacity: 0;
padding-left: 0px;
padding-right: 0px;
margin-left: -16px
}

