.titlebar:not(headerbar),
headerbar {
  min-height:36px;
  background-image:none;
  box-shadow:none;
}
 
decoration {
  border-radius: 4px 4px 0 0;
 }

.background:not(.tiled):not(.maximized):not(.solid-csd) .titlebar:backdrop, .background:not(.tiled):not(.maximized):not(.solid-csd) .titlebar {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }

window:not(.tiled):not(.maximized):not(.solid-csd) separator:first-child + headerbar:backdrop, window:not(.tiled):not(.maximized):not(.solid-csd) separator:first-child + headerbar, window:not(.tiled):not(.maximized):not(.solid-csd) headerbar:first-child:backdrop, window:not(.tiled):not(.maximized):not(.solid-csd) headerbar:first-child {
  border-top-left-radius: 4px; }
window:not(.tiled):not(.maximized):not(.solid-csd) headerbar:last-child:backdrop, window:not(.tiled):not(.maximized):not(.solid-csd) headerbar:last-child {
  border-top-right-radius: 4px; }
window:not(.tiled):not(.maximized):not(.solid-csd) stack headerbar:first-child:backdrop, window:not(.tiled):not(.maximized):not(.solid-csd) stack headerbar:first-child, window:not(.tiled):not(.maximized):not(.solid-csd) stack headerbar:last-child:backdrop, window:not(.tiled):not(.maximized):not(.solid-csd) stack headerbar:last-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }

window.ssd headerbar.titlebar {
    padding-top: 1px;
    padding-bottom: 1px;
    min-height: 0;
}

window.ssd headerbar.titlebar button.titlebutton {
    padding-top: 4px;
    padding-bottom:4px;
    min-height: 0;
}

.undershoot.top, .undershoot.right, .undershoot.bottom, .undershoot.left { 
background-image: none; 
}

/*
headerbar entry,
headerbar spinbutton,
headerbar button,
headerbar separator {
    margin-top: 4px;
    margin-bottom: 4px;
}
*/


